.git/
.gitattributes
.gitignore

bootstrap/cache/
!bootstrap/cache/.gitignore
bootstrap/ssr/
docs/
database/*.sqlite
public/build/
public/hot/
public/storage/
storage/
!storage/**/.gitignore

.editorconfig
.prettierignore
.prettierrc
phpstan.neon
phpunit.xml
.phpactor.json
.phpunit.result.cache

vendor/
node_modules/
auth.json

*.Dockerfile
.envs/
.env
*.env
compose.yaml
compose.*.yaml
docker-compose.yml
docker-compose.*.yml
docker/.envs/

/.github
/.vscode
/.fleet
/.idea
/.nova
/.zed
*.code-workspace

LICENSE
Makefile

*.md
*.log
*.zip
*.backup
*.bak
